<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django - inventario </title>
</head>
<body>
    <section>
    <h1>bienvenido a la gestion de inventario</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente veritatis debitis facere aliquam quis expedita cum! Voluptatem officiis sit illum dicta, nihil quisquam laborum, exercitationem corrupti commodi non maxime alias.</p>
    </section>
    <footer>
        <a href="http://">#</a>
    </footer>
    
</body>
</html>